html, body {
    position: relative;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: montserrat;
    color: #1B4965;
}

a {
    font-size: 16px;
}

p {
    font-size: 16px;
}

.background-blue {
    background-color: #1B4965;
}

.background-white {
    background-color: white;
}

.background-orange {
    background-color: #F28541;
}

.btn:hover {
    background-color: #F28541;
}

.chosen-address {
    background-color: #CCCCCC;
    border-radius: 5px;
}

.contact-headline {
    font-size: 30px;
    padding-top: 50px;
    color: white;
}

.contact-text {
    font-size: 40px;
}

.cover-img {
    background-image: url('img/gpsimages/aalborg1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%;
    position: relative;
}

.cover-text {
    padding-top: 25px;
    text-align: center;
    color: white;

}

.facebook-blue {
    background-color: #3B5998;
}

.facebook-blue:hover {
    background-color: #3B5998;
}

.grey-text {
    color: #75707A;
}

.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #fff !important;
}

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}

.modal {
    border-radius: 4px !important;
    width: 35%;
}

.modal-footer {
    background-color: #1B4965 !important;
}

.modalheader {
    background-color: #1B4965;
    height: 80px;
    z-index: 1 !important;
    position: relative;
}

.nav-wrapper {
    background-color: #fff;
}

.rate-area-login {
    background-color: #1B4965;
    position: relative;
    height: 300px;
}

.rate-header {
    margin: 0;
    padding: 20px;
    color: white;
}


.safemove-blue {
    color: #1B4965;
}

.safemove-orange {
    color: #F28541;
}

.textopacity {
    color: grey;
    opacity: 0.7;
}

#searchbox {
    padding-top: 100px;
    padding-left: 340px;
    width: 80%;
    position: absolute;
    border-radius: 10px;
    top: 250px;
}
